.adicionar {
    position: fixed;
    right: 20px;
    width: 200px;
    border: 1px solid #000;
    padding: 10px;
}

#name {
    margin-block-end: 5px;
}

#email {
    margin-block-end: 5px;
}

#telefone {
    margin-block-end: 5px;
}
